@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
  background-image: url(https://wallpaperaccess.com/full/2293065.jpg);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: palevioletred;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: bolder;
  background-color: rgba(245, 191, 231, 0.61);
 padding: 10px;
 border: 2px solid rgb(250, 168, 181);
 border-radius: 1rem;

}
.title h2, .title p{
  text-align: center;
  font-family: 'Dancing Script', cursive;

}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(192, 80, 99);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color:rgb(192, 80, 99) ;
  font-weight: bold;
  font-size: 24px;
}

label:hover{
  background: rgba(250, 222, 227, 0.89);
  color: rgb(241, 94, 94);
  transform: scale(1.02);
  box-shadow: 3px 3px 6px #38373785;
}

.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}


/* progress bar styles */
.progress-bar{
  height: 4px;
  background: var(--primary);
  margin-top: 30px;
  border: 2px solid rgb(241, 94, 94);
  border-radius: 2px;

}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  
}
.img-wrap{
  overflow: hidden;
  height: auto;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  border: 2px solid rgb(169, 99, 99);
  border-radius: 0.5rem;
  transform: scale(1.02);
  box-shadow: 3px 3px 6px #38373785;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}


/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 150, 150, 0.651);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
  border-radius: 1rem;
}


 .del-btn:hover{
   background: rgba(250, 222, 227, 0.89);
  color: rgb(154, 63, 63);
  transform: scale(1.02);
  box-shadow: 3px 3px 6px #38373785;
}
.loginForm,
.signUpform,.forgotPaswd{
  display: block;
  border: 2px;
  border-radius: 1rem;
  text-align: center;
  box-shadow:2px 3px 3px 4px #38373785;
  max-width: 50vw;
  margin: 8vh auto;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
}


.SignUpCard{
    display: flex;
    display: flex;
    flex-direction: column;
    color:black;
    box-shadow: 2px 2px 3px 3px #38373785;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    font-size: larger;
    }
    #email,#password,#password-confirm{
      text-align: left;
      padding-left: 10px;
      line-height: 2px;
      font-weight: bold;
      font-size: 24px;
    }

    .inputField{
      padding: .37rem .75rem;
      display: block;
      font-size: 1rem;
      font-weight: 200;
      line-height: 0.25;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #787a7b;
      border-radius: .25rem;
      width: 80%;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
    }
    .instant-up{

      color: rgb(167, 49, 89);
      font-size: 2rem;
      letter-spacing: 2px;
    }

    .buttonss{
      border: 2px solid rgb(192, 80, 99);
      border-radius: 5px;
      width:100%;
      color: #fff;
      background-color:rgb(192, 80, 99) ;
      margin-top: 7px;
      font-family: 'Dancing Script', cursive;
    }    

    .footer{
      margin-top: 0.5rem;
      text-align: center!important;
      width: 100%!important;
      box-sizing: border-box;
      color: black;
      font-size: larger;
    }
    a{
    color: rgb(132, 40, 71);
    text-decoration: none;
    background-color: transparent;
    }

    .user{
      font-family: cursive;
      color: rgb(191, 108, 136) ;
    }
.logoutbtn{
  border: 2px solid rgb(192, 80, 99);
  color: #fff;
  background-color:rgb(192, 80, 99);
  border-radius: 0.5rem;
  font-family: 'Dancing Script', cursive;
}
.del-btn{ 
  box-shadow: 1px 1px 3px black;
  width: 50px;
  padding: 6px;
}